# Exploratory analysis on the original data

As the first step of the project, we perform an exploratory analysis on the original data. 

### Dataset
- Basic information about the dataset: This dataset describes a complete year (from 01/07/2013 to 30/06/2014) of the trajectories for all the 442 taxis running in the city of Porto, in Portugal (i.e. one CSV file named "train.csv").
- Detailed information can be found on the [dataset page](https://www.kaggle.com/datasets/crailtap/taxi-trajectory/data).

### Load the dataset
Open "train.csv" with a text editor (in my case TextEdit on MacOS), we can see the file already contains a header row. The data is separated by comma.

In [ ]:
import pandas as pd

raw_data = pd.read_csv('train.csv', sep=',')

### Inspect the data
We can inspect the data in the following way:

In [ ]:
raw_data.info()

In [ ]:
raw_data.describe()

We can see that there're entries in total. The minimum and maximum timestamp value is and , respectively. The timestamp is Unix Timestamp (in seconds), we can convert it to a readable format by:

In [ ]:
dt_start = datetime.datetime.fromtimestamp(1.372637e+09)
dt_end = datetime.datetime.fromtimestamp(1.372637e+09)
print("start time is {}, end time is {}".format(dt_start, dt_end)

We can see that the data starts from and end on, in agreement with the dataset description. By looking at the summary of 'timestamp' column, we can also see that the data is roughly evenly distributed throughout the year.

In [ ]:
We can check the number of different taxis included in this dataset by:

In [ ]:
raw_data['TAXI_ID'].nunique()